<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body>

	<div id="wrapper">

	<!--Navigation-->
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin: bottom 0">
		<div class="navbar-header">
                <a class="navbar-brand" href="#">Kontextuell energivisualisering</a>
         </div>
	</nav>
	<div class="page-wrapper container">
            
			<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                         <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Graph of power consumption
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/">Realtime</a>
                                        </li>
                                        <li><a href="/views/day">Day</a>
                                        </li>
                                        <li><a href="/views/week">Week</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="chartContainer" style="height:300px"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
             </div>
             <!-- /.row -->
             <div class="row">
                <%for(var i = 0; i < 4; i++){%>
                <div class="col-md-3 priorityCard" id="<%=priorityData[i].sequenceNo;%>">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 
                            <i class="fa fa-exclamation-circle fa-fw"></i> <span id="type<%=i%>"><%=priorityData[i].type;%></span>
                        </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="date<%=i%>" class="huge"><%=priorityData[i].date%></div>
                                        <div id="time<%=i%>" class="huge"><%=priorityData[i].time%></div>
                                        <div id="value<%=i%>">Value: <%=priorityData[i].value;%> W</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <%}%>  
             </div>
	</div>
	<% include partials/page/jsdefaults.ejs%>
</body>
</html>
